.info-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: $margin;
}
.info-timer__value {
  margin: 0 $margin;
}
.info-timer__img {
  height: auto;
  width: 50px;
}
